[submodule "RemixIcon"]
	path = RemixIcon
	url = https://github.com/Remix-Design/RemixIcon.git
[submodule "scripts/vcpkg"]
	path = scripts/vcpkg
	url = https://github.com/Do-sth-sharp/vcpkg-overlay.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
