[submodule "LUCE-cpp"]
	path = LUCE-cpp
	url = https://github.com/FangCunWuChang/LUCE-cpp.git
[submodule "RemixIcon"]
	path = RemixIcon
	url = https://github.com/Remix-Design/RemixIcon.git
[submodule "vst3sdk"]
	path = vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "vst2-sdk-for-vst3sdk"]
	path = vst2-sdk-for-vst3sdk
	url = https://github.com/Do-sth-sharp/vst2-sdk-for-vst3sdk.git
[submodule "ARA_SDK"]
	path = ARA_SDK
	url = https://github.com/Celemony/ARA_SDK.git
